{% extends 'layout/homeLayout.twig' %}
{% block chatSidebar %}

		<div>
			<div class="px-4 pt-4"> <h4 class="mb-4">
				Chats
			</h4>
			<div class="search-box chat-search-box">
				<div class="input-group mb-3 rounded-3">
					<span class="input-group-text text-muted bg-light pe-1 ps-3" id="basic-addon1">
						<i class="ri-search-line search-icon font-size-18"></i>
					</span>
					<input type="text" class="form-control bg-light" placeholder="Search messages or users" aria-label="Search messages or users" aria-describedby="basic-addon1"/>
				</div>
			</div>
			<!-- Search Box -->
		</div>
		<!-- .p-4 -->

		<!-- Start chat-message-list -->
			<div>
				<h5 class="mb-3 px-3 font-size-16"> Recent
			</h5>

			<div class="chat-message-list px-2" data-simplebar style="height: calc(100vh - 188.4px);">
				<ul
					class="list-unstyled chat-list chat-user-list">

					{% for row in data.messageList[0] %}

						<li>
							<a href="/chats/{{row.room}}/{{row.userID}}">
									<div class="d-flex">
										<div class="chat-user-img align-self-center me-3 ms-0">
											<div class="avatar-xs">
												<span class="avatar-title rounded-circle bg-soft-primary text-primary">
													G
												</span>
											</div>
										</div>
										<div class="flex-grow-1 overflow-hidden">
											<h5 class="text-truncate font-size-15 mb-1">
												{{row.username}}
											</h5>
											<p class="chat-user-message text-truncate mb-0">
												{{row.room}}
											</p>
										</div>
										<div class="font-size-11">
											20 min
										</div>
									</div>
							</a>
						</li>
					{% endfor %}

				</ul>
			</div>
		</div>
		<!-- End chat-message-list -->
	</div>


{% endblock %}

{% block userChat %}
        {% include 'partials/userChat.twig' %}
{% endblock %}


