{% extends 'layout/authLayout.twig' %}

{% block body %}
    <div class="text-center mb-4">
        <a href="index.html" class="auth-logo mb-5 d-block">
            <img src="assets/images/logo-dark.png" alt="" height="30" class="logo logo-dark">
            <img src="assets/images/logo-light.png" alt="" height="30" class="logo logo-light">
        </a>
        <h4>Sign in</h4>
        <p class="text-muted mb-4">Sign in to continue to Chatvia.</p>
    </div>
    <div class="card">
        <div class="card-body p-4">
            <div class="p-3">
                <form action="/login-post" method="POST">
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <div class="input-group mb-3 bg-soft-light rounded-3">
                            <span class="input-group-text text-muted" id="basic-addon3">
                                <i class="ri-user-2-line"></i>
                            </span>
                            <input name="username" type="text" class="form-control form-control-lg border-light bg-soft-light" placeholder="Enter Username" aria-label="Enter Username" aria-describedby="basic-addon3" required>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="float-end">
                            <a href="auth-recoverpw.html" class="text-muted font-size-13">Forgot password?</a>
                        </div>
                        <label class="form-label">Password</label>
                        <div class="input-group mb-3 bg-soft-light rounded-3">
                            <span class="input-group-text text-muted" id="basic-addon4">
                                <i class="ri-lock-2-line"></i>
                            </span>
                            <input name="password" type="password" class="form-control form-control-lg border-light bg-soft-light" placeholder="Enter Password" aria-label="Enter Password" aria-describedby="basic-addon4" required>
                        </div>
                    </div>
                    <div class="form-check mb-4">
                        <input type="checkbox" class="form-check-input" id="remember-check">
                        <label class="form-check-label" for="remember-check">Remember me</label>
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-primary waves-effect waves-light" type="submit">Sign in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="mt-5 text-center">
        <p>Don't have an account ? <a href="auth-register.html" class="fw-medium text-primary"> Signup now </a> </p>
        <p>© <script>document.write(new Date().getFullYear())</script> Chatvia. Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</p>
    </div>

{% endblock %}

    