{% extends 'layout/authLayout.twig' %}

{% block body %}

    <div class="text-center mb-4">
        <a href="index.html" class="auth-logo mb-5 d-block">
            <img src="assets/images/logo-dark.png" alt="" height="30" class="logo logo-dark">
            <img src="assets/images/logo-light.png" alt="" height="30" class="logo logo-light">
        </a>
        <h4>Sign up</h4>
        <p class="text-muted mb-4">Get your Chatvia account now.</p>
    </div>
    <div class="card">
        <div class="card-body p-4">
            <div class="p-3">
                <form action="/register-post" method="POST">
                    {% include 'partials/msg.twig' %}
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <div class="input-group bg-soft-light mb-3 rounded-3">
                            <span class="input-group-text border-light text-muted" id="basic-addon6">
                                <i class="ri-user-2-line"></i>
                            </span>
                            <input name="username" id="username" type="text" value="" class="form-control form-control-lg bg-soft-light border-light" placeholder="Enter Username" aria-label="Enter Username" required aria-describedby="basic-addon6">                                    
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <div class="input-group bg-soft-light rounded-3  mb-3">
                            <span class="input-group-text text-muted" id="basic-addon5">
                                <i class="ri-mail-line"></i>
                            </span>
                            <input name="email" id="email" type="email" class="form-control form-control-lg bg-soft-light border-light" placeholder="Enter Email" aria-label="Enter Email" aria-describedby="basic-addon5" required>                                           
                        </div>
                    </div>
                    <div class="mb-4">
                        <label class="form-label">Password</label>
                        <div class="input-group bg-soft-light mb-3 rounded-3">
                            <span class="input-group-text border-light text-muted" id="basic-addon7">
                                <i class="ri-lock-2-line"></i>
                            </span>
                            <input name="password" id="password" type="password" class="form-control form-control-lg bg-soft-light border-light" placeholder="Enter Password" aria-label="Enter Password" aria-describedby="basic-addon7" required >                                               
                        </div>
                    </div>
                    <div class="d-grid">
                        <button class="btn btn-primary waves-effect waves-light" id="submit" type="submit">Sign up</button>
                    </div>  
                </form>                                  
            </div>
        </div>
    </div>
    <div class="mt-5 text-center">
        <p>Already have an account ? <a href="/login" class="fw-medium text-primary"> Signin </a> </p>
    </div>

{% endblock %}

{% block javascript %}

{# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<script>
'use strict';

document.getElementById("submit").onclick = formSubmit;
var username = document.getElementById("username");
var email = document.getElementById("email");
var password = document.getElementById("password");
var msgAlertStrong = document.getElementById("msgAlertStrong");
var msgAlert = document.getElementById("msgAlert");

function formSubmit(){
    $.ajax({
    method: "POST",
    url: "register-post",
    dataType: 'json',
    data: {username : username.value, email : email.value, password : password.value},
  }).done((res) => {
        console.log(res)
        alert( res.data );
    }).fail((err)=>{
        err=err.responseJSON;
        console.log(err.error);
        if(err.error.field == "username"){
            msgAlertStrong.innerHTML = "Kullanıcı adı boş olamaz";
            msgAlert.style.display = "block";
        }else if(err.error.field == "email"){
            msgAlertStrong.innerHTML = "Email alanı boş olamaz";
            msgAlert.style.display = "block";
        }else if(err.error.field == "password"){
            msgAlertStrong.innerHTML = "Şifre alanı boş olamaz";
            msgAlert.style.display = "block";
        }
        
    });
}

</script> #}
{% endblock %}
    